{erl_opts, [debug_info]}.

{plugins, [
    {rebar3_warn_outdated_deps, {git, "https://github.com/Kuroneer/rebar3_warn_outdated_deps.git", {tag, "0.1.2"}}}
]}.

{deps, []}.

{relx, [
    {release,
        { broadcasterl, "dev_0.0.1" }, [
            service_discovery,
		    crypto,
            sasl,
            runtime_tools
        ]
    },

    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},

    % Run after release
    {overlay, [
        % vm.args and sys.config as templates
        {template, "templates/vm.args",    "releases/{{release_version}}/vm.args.src"   },
        {template, "templates/sys.config", "releases/{{release_version}}/sys.config.src"},
        {template, "templates/last_release_launcher", "../../last_release_launcher"}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    undefined_functions
]}.
{provider_hooks, [
    {post, [{compile, xref}]},
    {pre, [{compile, warn_outdated_deps}]}
]}.
{profiles, [
    {prod, [
        {provider_hooks, [{pre, [{compile, warn_outdated_deps_abort}]}]},
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true}
        ]}
    ]},
    {test, [
        {deps, [
            {meck, "0.8.12"}
        ]}
    ]}
]}.

